html,
*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: #363b48;
}

header{
    width: 100%;
    background: #292c38;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

header .container{
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    display: flex;
    justify-content: space-between;

}

header .sub-container{
    display: flex;
    align-items: center;
}
header .sub-container .logo{
    display: flex;
    font-size: 30px;
    margin: auto;
    align-items: center;
}
header .sub-container .logo img{
    border: none;
    margin-right: 10px;
}
header .sub-container .items{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    font-size: 16px;
}
header .sub-container .items .item_home{
    background: #2c9986;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-decoration: none;
}

header .sub-container .items .item_nb{
    text-decoration: none;
}

header .sub-container .items .item_nb:hover {
    text-decoration: underline;
    filter: brightness(120%);
}


.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.result {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    background: #f3f5f9;
    color: #292c38;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;

}

.result img{
    border: none;
}


input:disabled {
    background-color: #6d7280;
}

.input {
    height: 40px;
    width: 70%;
    padding: 5px 10px;
}

.input_label {
    margin-bottom: 5px;
    display: block;
}

.btn {
    padding: 5px 10px;
    background-color: #6d7280;
    height: 40px;
}

.btn:focus {
    outline: none;
}
.btn:hover, .btn_primary:hover, header .sub-container .items .item_home:hover {
    filter: brightness(120%);
}

.btn.active {
    background-color: #2c9986;
    border: none;
}

.btn_primary {
    background-color: #2c9986;
    border: none;
    font-size: 18px;
    padding: 10px 25px;
}

.select_file, .select_format{
    margin: 20px 0;
}

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    margin-bottom: 10px;
}

/* for medium screen */
@media (max-width: 1000px) {
    header .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }

    .content {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }
    .result {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }
}

/* for small screen */
@media (max-width: 640px) {
    header .container{
        margin: 0 40px;
    }
    .content {
        margin: 0 40px;
    }
    .result {
        margin: 0 40px;
    }
}
#resultContainer {
    display: none;
}